<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.binaryunicorn.coloria">

	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:name=".App"
		android:label="${appName}"
		android:icon="@mipmap/app_icon"
		android:theme="@style/AppTheme"
		android:allowBackup="true"
		android:supportsRtl="false">

		<activity android:name=".modules.main.views.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>