<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:name=".App"
		android:icon="@mipmap/app_icon"
		android:label="${appName}"
		android:supportsRtl="true"
		android:theme="@style/Theme.Coloria">

		<activity
			android:name=".presentation.main.views.MainActivity"
			android:exported="true">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

	</application>

</manifest>
